.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 22px;
  margin-bottom: 22px;
}

.testimonials {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(3, 1fr);
}